@import '../../../styles/variables';

.badge {
  display: inline-block;
  padding: $spacing-xs $spacing-sm;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  border-radius: $border-radius-sm;
  line-height: 1;
  
  &--primary {
    background-color: lighten($primary-color, 40%);
    color: darken($primary-color, 10%);
  }
  
  &--secondary {
    background-color: $bg-tertiary;
    color: $text-secondary;
  }
  
  &--success {
    background-color: lighten($success-color, 45%);
    color: darken($success-color, 10%);
  }
  
  &--danger {
    background-color: lighten($danger-color, 35%);
    color: darken($danger-color, 10%);
  }
  
  &--warning {
    background-color: lighten($warning-color, 30%);
    color: darken($warning-color, 30%);
  }
}
